* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   padding: 10px;
   background-color: #333;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 5px;
}
.cell {
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #414141;
   color: #fefefe;
   text-decoration: none;
   transition: all 0.3s;
}
.cell:hover {
   transform: translateY(-5px);
   box-shadow: 0 5px 5px black;
   background-color: #df6b29;
   color: black;
}
