* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}
body {
   padding: 10px;
   background-color: #333;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 5px;
}
.box {
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.cell {
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #414141;
   color: #fefefe;
   text-decoration: none;
   transition: all 0.3s;
}
.active {
   transform: translateY(-5px);
   box-shadow: 0 5px 5px black;
   background-color: #df6b29;
   color: black;
   /* backface-visibility: hidden; */
   animation:
      pulse 0.5s,
      spin 0.5s forwards;
   transition: all 0.3s;
}
.active span {
   animation: spin-text 0.5s;
}

.wave {
   animation: wave 2s infinite;
}

@keyframes pulse {
   100% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0);
   }
   0% {
      box-shadow: 0 0 20px rgba(205, 97, 8, 0.9);
   }
}
@keyframes spin {
   0% {
      transform: rotateY(0deg);
   }
   100% {
      transform: rotateY(180deg);
   }
}
@keyframes spin-text {
   100% {
      transform: scaleX(-1);
   }
}
@keyframes wave {
   0%,
   100% {
      transform: translateY(3px);
   }
   50% {
      transform: translateY(0px);
   }
}
